* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
  width: 900px;
  height:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
    color: #5995DA; /*blue*/

}

.header-container{
  color: #5995DA;
  background-color: #D6E9fE;
  display: flex;
  justify-content: center;
}

